.carrinho {
  border: solid;
  width: 93%;
  margin: 0 auto;
}

ion-header {
  --box-shadow:none;
  overflow: hidden;
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

ion-note {
  font-size: 13px;
}

ion-label {
  font-size: 17px !important;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}