<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon color="primary" slot="icon-only" name="logo-ionic"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bebidas</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="visualizarCarrinho()">
        <ion-icon color="primary" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- FILTRO DE CATEGORIAS -->

<ion-content>
  <ion-item>
    <ion-label>Categorias</ion-label>
    <ion-select (ionChange)="open($event)">
      <ion-select-option value="vinhos">Vinhos</ion-select-option>
      <ion-select-option value="refrigerantes">Refrigerantes</ion-select-option>
      <ion-select-option value="sucos">Sucos</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let oferta of ofertas">
    <img style="width: 70%; margin: 0 auto;" [src]="oferta.imagens[0].url" />
    <ion-card-header>
      <ion-card-subtitle>{{ oferta.descricao_oferta }}</ion-card-subtitle>
      <ion-card-title>{{ oferta.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-note>{{ oferta.valor | currency:'BRL' }}</ion-note>
      <ion-button (click)="passandoDados(oferta.id_oferta)" size="larger">Ver oferta</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>