img {
  border-radius: 5px;
  width: 320px;
  height: 200px
}

ion-button {
    float: right;
    margin: -15px auto;
}

ion-card { 
  border: solid;
  padding: 5px;
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
}