<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="retornoUrl" slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!retornoUrl" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="oferta" *ngIf="oferta !== undefined">

      <div class="row" style="margin-bottom: 30px;">
        <div class="col">
          <p>Descrição do produto:</p>
          <h5>{{ oferta.descricao_oferta }}</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="img_capa">
            <img [src]="oferta.imagens['0'].url" />
          </div>

          <div style="display: flex; flex-wrap: wrap; justify-content: center;" class="thumbnails">
            <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col text-center">
              <p>Por apenas</p>
            </div>

          </div>

          <div class="row">
            <div class="col text-center">
              <h1>{{ oferta.valor | currency:'BRL' }}</h1>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <button (click)="adicionarItemCarrinho()" type="button" class="btn btn-warning btn-lg">Adicionar ao
                carrinho</button>
            </div>
          </div>

        </div>

      </div>

    </div>
    <div class="row" style="margin-top: 25px; margin-bottom: 150px;">
      <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" routerLink='/tabs/oferta/como-usar' routerLinkActive="active" data-toggle="tab"
              role="tab" aria-expanded="true">Como
              usar</a>
            <!-- <ion-router-link color="tertiary" href="/como-usar">Como usar</ion-router-link> -->
          </li>
          <li class="nav-item">
            <!-- <ion-router-link color="tertiary" href="/onde-fica">Onde fica?</ion-router-link> -->
            <a class="nav-link" [routerLink]="['tabs/oferta/onde-fica']" routerLinkActive="active" data-toggle="tab"
              role="tab">Onde
              fica?</a>
          </li>
        </ul>
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>
</ion-content>