ion-button{
  margin: 20px auto;
  border-color: transparent;
  padding: 0;
}

ion-header {
  --box-shadow:none;
  overflow: hidden;
}

ion-card { 
  border: solid;
  padding: 5px;
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}