<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Ofertas do Dia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label class="ion-text-wrap">
    Aproveite as super ofertas que separamos para você:
  </ion-label>
</ion-item>

<ion-content>
  <ion-card *ngFor="let oferta of ofertas">
    <img style="display: flex; width: 70%; margin: 0 auto; position: relative;" [src]="oferta.imagens[0].url" />
    <ion-card-header>
      <ion-card-subtitle>{{ oferta.descricao_oferta }}</ion-card-subtitle>
      <ion-card-title>{{ oferta.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 23px;">
      {{ oferta.valor | currency:'BRL' }}
      <ion-button color="primary" style="float: right;" (click)="passandoDados(oferta)" class="btn btn-outline-primary">
        Ver
        oferta</ion-button>
      <ion-badge color="danger" slot="end">Promoção</ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- <div class="container">

  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-4" *ngFor="let oferta of ofertas">
      <div class="card"> -->
<!-- Property Binding atribuindo as imagens -->
<!-- <img class="card-img-top" [src]="oferta.imagens[0].url">
        <div class="card-block">
          <h4 class="card-title">{{ oferta.titulo }}</h4>
          <p class="card-text">{{ oferta.descricao_oferta }}</p>
          <p class="preco">{{ oferta.valor | currency:'BRL' }}</p> -->
<!-- Não vou simplesmente acessar a rota oferta -->
<!-- Preciso passar um parâmetro, boto o property Binding no routerLink -->
<!-- Para passar um array, que contem a rota e o parâmetro -->
<!-- <a [routerLink]="['/oferta', oferta.id_oferta]" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div>
    <hr />

  </div> -->